<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gamer Lab</title>
    <link rel="stylesheet" href="styles.css">
    <style type="text/css">body { width: auto; background-color: darkgray;}
        .home_index{ margin-top: 170px;  margin-left:170px;} .intro{ margin-left:320px;} .title{ font-size:50px;}
        h3{margin-left:300px;}

    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class = "home_index">
        <div class = "intro">
            <h1 class = "title">Welcome to Gamer Labs</h1>
            <p>Search for hundres of games.... Available for unlimited time only!!</p>
        </div>
        <div class = "game_info">
            {% if data[0]['title'] == "Overwatch 2" %}
            <iframe width="420" height="315" src="{{data[0]['thumbnail']}}" frameborder = "5" class = "index_image"></iframe>
            <p>Genre: {{data[0]['genre']}}</p>
            <h3>{{data[0]['title']}}</h3>
            <p> {{ data[0]['short_description']}}</p>
            {% else %}
            <img class="aotd-img" src="{{data[0]['release_date']}}">
            {% endif %}
        </div>
    </div>
  </body>
</html>
